<div class="navegation">
  <nav class="navbar">
    <a class="navbar-brand" href="#">My Inventary</a>
  </nav>
</div>
<div class="menuAdmin">
  <a href="#" class="active">Administracion</a>
  <a href="#"></a>
  <a href="#">Sucursales</a>
  <a href="#">Bodegas</a>
  <a href="#">Categorias</a>
  <a href="#">Producto</a>
  <a href="#">Cliente</a>
  <a href="#">Proveedor</a>
  <a href="#">Usuarios</a>
  <a href="#">Roles</a>
</div>
<div>
  <nav class="footer">
    <a class="navbar-brand" href="#">Grupo 6 Desarrollo web Ingenieria en Sistemas UMG 2022</a>
  </nav>
</div>

