
.navbar{
  background: linear-gradient(to left, #2196F3, #009688);
  padding: 20px;
}
.navbar a{
  color: rgb(4, 57, 73);
  font-style: oblique;
  font-size: x-large;
}

.menuAdmin{
  width: 200px;
}

.menuAdmin a{
  background: linear-gradient(to left, #2196F3, #009688);
  color: rgb(15, 95, 141);
  display: block;
  padding: 15px;
  text-decoration: none;
}

.menuAdmin a:hover{
  -webkit-text-fill-color: rgb(0, 32, 175);
}

.menuAdmin a{
  color: white;
  font-style: normal;
  font-size: larger;
}

.footer{
  background: linear-gradient(to left, #2196F3, #009688);
  padding: 30px;
  text-align: center;
}
.footer a{
  color: rgb(4, 57, 73);
  font-style: oblique;
  font-size: large;
}
