
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary float-right" (click)="openModal(modalAdd)"  data-toggle="modal">Nuevo</button>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead class="text-primary">
              <th>#</th>
              <th>Nombre</th>
              <th>NIT</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of listEmpresas; index as i">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.nit }}</td>
                <td>{{ item.direccion }}</td>
                <td>{{ item.telefono }}</td>
                <td>
                  <span class="btn btn-primary btn-sm"> <i class="now-ui-icons shopping_tag-content"></i></span> <span class="btn btn-danger btn-sm ml-2"> <i class="now-ui-icons ui-1_simple-delete"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #modalAdd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Empresas </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> X </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="newForm" >
        <div class="form-row">
          <label class="form-control-label">Nombre Empresa</label>
          <input type="text" class="form-control" placeholder="empresa" >
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button>
  </div>
</ng-template>
